<?xml version="1.0"?>
<appSettings>
  <add key="API_KEY" value="" />
  <add key="API_SECRET" value="" />
  <add key="API_KEY_ETH" value="" />
  <add key="API_SECRET_ETH" value="" />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="keyforbit" value="Fortrex135" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="WebsiteName" value="fortrex.io" />
  <add key="WebsiteURL" value="https://api.fortrex.io/" />
  <add key="description" value="Fortrex" />
  <add key="keywords" value="Fortrex" />
  <add key="title" value="Fortrex" />
  <add key="CapcharSecretKey" value="6LczISoUAAAAAMKfWfUJjG76ZSq7qqcTbxjgvuPz" />
  <add key="CapcharSiteKey" value="6LczISoUAAAAAPnVlGxhhv2fixKpN2am2nBAodmv" />
</appSettings>