<?xml version="1.0"?>
<connectionStrings>
  <clear />
  <add name="Web.SourceCoin" connectionString="Data Source=178.128.88.147;Initial Catalog=fortrex_main;Integrated Security=False;Persist Security Info=False;User ID=fortrex_db;Password=u9ids2uMng5orzqz;MultipleActiveResultSets=True;Max Pool Size=500"
    providerName="System.Data.SqlClient"/>
  <add name="Web.SourceCoin.Sync" connectionString="Data Source=178.128.88.147;Initial Catalog=fortrex_sync;Integrated Security=False;Persist Security Info=False;User ID=fortrex_db;Password=u9ids2uMng5orzqz;MultipleActiveResultSets=True;Max Pool Size=500"
    providerName="System.Data.SqlClient"/>
  <!--add name="WebApi.MySql" connectionString="Server=178.128.88.147;Port=6606;Database=fortrex_db;Uid=fortrex_db;Pwd=B0_ech@ng#;" providerName="MySql.Data.MySqlClient" /-->
  <add name="CoreExchangeDB" connectionString="data source=178.128.88.147;initial catalog=fortrex_main;persist security info=True;user id=fortrex_db;password=u9ids2uMng5orzqz;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
</connectionStrings>



<!--<connectionStrings>
	<clear />
	<add name="Web.SourceCoin" connectionString="Data Source=198.12.229.255;Initial Catalog=bo_exchange;Integrated Security=False;Persist Security Info=False;User ID=eqoption;Password=B0_ech@ng#;MultipleActiveResultSets=True;Max Pool Size=500"
	  providerName="System.Data.SqlClient"/>
	<add name="Web.SourceCoin.Sync" connectionString="Data Source=198.12.229.255;Initial Catalog=bo_exchange;Integrated Security=False;Persist Security Info=False;User ID=eqoption;Password=B0_ech@ng#;MultipleActiveResultSets=True;Max Pool Size=500"
	  providerName="System.Data.SqlClient"/>
	<add name="WebApi.MySql" connectionString="Server=198.12.229.255;Port=6606;Database=bo_exchange;Uid=bo_exchange;Pwd=B0_ech@ng#;" providerName="MySql.Data.MySqlClient" />
	<add name="CoreExchangeDB" connectionString="data source=198.12.229.255;initial catalog=bo_exchange;persist security info=True;user id=eqoption;password=B0_ech@ng#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
</connectionStrings>-->
