<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="API_KEY" value="g0wV1TGJF9r2Kmir" />
    <add key="API_SECRET" value="f3Ds4Wreb5TD9zE7zradlaqTOoRks1kU" />
    <add key="API_KEY_ETH" value="oaGFB0Avm1ry3xTA" />
    <add key="API_SECRET_ETH" value="pKzzX3K1PRpVPpt1tH1LGyY7yXU6NuFb" />
    <add key="ProjectType" value="1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <clear />
    <add name="MiningHash" connectionString="Data Source=178.128.88.147;Initial Catalog=fortrex_main;Integrated Security=False;Persist Security Info=False;User ID=fortrex_db;Password=u9ids2uMng5orzqz;MultipleActiveResultSets=True;Max Pool Size=500" providerName="System.Data.SqlClient" />
   <!--<add name="MiningHash" connectionString="Data Source=LONGPC\SQLEXPRESS;Initial Catalog=HighchartProject;Integrated Security=False;Persist Security Info=False;User ID=sa;Password=P@ssword@123;MultipleActiveResultSets=True;Max Pool Size=500" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>